/* Keyframe definitions */

@keyframes slide {
 from {
  opacity: 0%;
  transform: translate(-1em, 0);
 }

 to {
  opacity: 100%
 }
}

@keyframes bounce {
 50% {
  transform: translate(0, 0.2em);
 }
}

@keyframes hover-effect {
 0% {
  transform: scale(1);
 }
 100% {
  transform: scale(1.1);
 }
}

@keyframes typing {
 0% {
  width: 0%;
 }
 100% {
  width: 100%;
 }
}

@keyframes blinking-cursor {
 0%, 100% {
  border-right-color: transparent;
 }
 50% {
  border-right-color: var(--black-bean);
 }
}

@keyframes fade-out {
 0% {
  background: none;
  opacity: 1;
 }
 100% {
  opacity: 0;
 }
}

@keyframes close-envelope {
 0% {
  background: none;
 }
 25% {
  background: url("../images/frame1.png") no-repeat center center;
  transform: rotate(5deg) scale(0.5);
  background-size: contain;
 }
 50% {
  background: url("../images/frame2.png") no-repeat center center;
  transform: rotate(-7deg) scale(0.5);
  background-size: contain;
 }
 75% {
  background: url("../images/frame3.png") no-repeat center center;
  transform: rotate(2deg) scale(0.5);
  background-size: contain;
 }
 100% {
  background: url("../images/frame4.png") no-repeat center center;
  transform: rotate(-3deg) scale(0.5);
  background-size: contain;
 }
}

@keyframes sent-success {
 0% {
  background: url("../images/frame5.png") no-repeat center center;
  background-size: contain;
  transform: rotate(-3deg) scale(0.5);
 }
 50% {
  transform: rotate(2deg) scale(0.5);
 }
}

/* General style rules for document */

:root {
 --linen: #F5EBE0;
 --black-bean: #3c1518;
 --blood-red: #69140E; 
 --brown: #A44200; 
 --bronze: #D58936;
 --vanilla: #F2F3AE;
 --serif: "EB Garamond", serif;
 --sans-serif: "Nunito", sans-serif;
}

html {
 scroll-behavior: smooth;
 border: var(--brown) solid 20px;
}

* {
 font-family: var(--sans-serif);
 color: var(--black-bean);
}

body {
 box-sizing: border-box;
 background-color: var(--vanilla);
}

h1, h2, h3, h4, h5, h6 {
 font-family: var(--serif);
}

a {
 color: var(--brown);
 text-decoration: none;
}

button {
 background-color: var(--blood-red);
 color: var(--vanilla);
 font-weight: bold;
 font-size: 1.2rem;
 border: none;
 padding: 1rem;
 border-radius: 0.2rem;
 max-width: 200px;
 margin: 0 auto;
}

a:hover, button:hover {
 animation: bounce 2s;
}

section {
 display: flex;
 flex-direction: column;
 justify-content: center;
 flex-wrap: wrap;
 width: 100%;
}

section h2 {
 text-align: center;
}

section p, section h2, section h1 {
 padding: 0 2rem;
}

p {
 padding-bottom: 1rem;
 text-align: justify;
}

label {
 font-size: 18px;
 font-weight: bold;
}

nav {
 margin: 10% 10% 2% 10%;
 z-index: 99;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
}

main {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
 padding: 0 1em;
}

input, textarea {
 border: var(--black-bean) solid 1px;
 background-color: white;
 border-radius: 2px;
 -webkit-transition: width .35s ease-in-out;
 transition: width .35s ease-in-out;
 width: 50%;
 padding: 0.5rem;
}

textarea {
 height: 2rem;
}

input:focus, textarea:focus {
 width: 67%;
}

form {
 width: 80%;
 margin: 0 auto;
}

footer {
 margin: 5rem auto 0 auto;
}

footer p {
 text-align: center;
 font-family: var(--serif);
}

.h-l {
 font-size: 72px;
}

.h-m {
 font-size: 48px;
}

.h-s {
 font-size: 36px;
}

.p-l {
 font-size: 18px;
 line-height: 1.5em;
}

.p-m {
 font-size: 16px;
 line-height: 1.5em;
}

.flex-container {
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
}

/* Navigation bar style rules */

#dropdown-btn {
 display: none;
}

#brand-icon {
 font-size: 3rem;
 font-family: var(--serif);
}

.nav-link {
 padding: 0 1rem 0 1rem;
 font-family: var(--serif);
 font-size: 1.5rem;
}

/* Content section style rules */

.typing {
 animation: typing 2s steps(39, end), blinking-cursor .75s step-end infinite;
 white-space: nowrap;
 overflow: hidden;
 border-color: var(--black-bean);
 border-right: .1em solid;
 max-width: -moz-fit-content;
 max-width: fit-content;
 letter-spacing: 4px;
 padding-right: 0;
 /* padding-left: 1.6rem; */
}

#gallery {
 align-items: center;
}

#cover-photo {
 max-width: 500px;
}

.fade-in {
 opacity: 0;
}

/* Navigation buttons */

#nav-buttons {
 position: fixed;
 right: 20px;
 bottom: 20px;
 z-index: 9999;
}

#nav-buttons i {
 display: block;
 text-align: center;
 font-size: 2rem;
 color: var(--bronze);
}

/* About section style rules */

#cover-photo {
 border-radius: 10px;
}

#about {
 display: flex;
 justify-content: center;
 flex-direction: column;
}

#flip-cards {
 display: flex;
 gap: 10%;
 width: 100%;
 align-items: center;
 justify-content: center;
 padding-bottom: 2rem;
 flex-flow: row wrap;
 margin: 2rem auto;
}

.flip-card {
 background-color: transparent;
 height: 18em;
 width: 100%;
 max-width: 300px;
 perspective: 1000px;
 transition: transform 1s;
}

.flip-card h1 {
 margin-top: 1rem;
 margin-bottom: 0;
}

.flip-card:hover {
 animation: hover-effect 0.2s ease-in-out;
 transform: scale(1.1);
}

.flip-card-inner {
 position: relative;
 width: 100%;
 height: 100%;
 text-align: center;
 transition: transform 1.2s;
 transform-style: preserve-3d;
}

.flip {
 transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
 position: absolute;
 width: 100%;
 height: 100%;
 -webkit-backface-visibility: hidden;
 backface-visibility: hidden;
 border-radius: 5px;
 box-shadow: 4px 3px 15px var(--black-bean);
 background-color: var(--linen);
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 padding-bottom: 1rem;
}

.flip-card-front {
 align-items: center;
}

.flip-card-back {
 transform: rotateY(180deg);
}

.flip-card-back h1, .flip-card-back p {
 padding: 0 5% 0 5%;
 text-align: justify;
}

.flip-card-back button {
 padding-left: 20px;
 padding-right: 20px;
}

.logo {
 width: 50%;
}

/* Contact section style rules */

#contact-form [class="flex-container"] {
 gap: 1rem;
}

#contact-form {
 text-align: center;
}

.disappear, .disappear * {
 animation: fade-out 1s forwards;
 transition: all 0.5s;
 transform: scale(0.2);
}

.send-animation {
 animation: close-envelope 2s steps(1, start) 0.2s, sent-success 2s 2.2s steps(1, end) infinite;
}

/* Media queries */

/* Change navbar to a dropdown menu on phones and small tablets. Also, change cover-photo size to fill the width of its container. */

@media (max-width: 755px) {
 button {
  max-width: none;
 }

 #dropdown-btn {
  display: block;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 100%;
 }

 #dropdown-btn i {
  color: var(--vanilla)
 }
 
 .dropdown {
  position: relative;
  display: inline-block;
 }
 
 .dropdown-content {
  display: none;
  position: fixed;
  left: 0;
  top: 50px;
  width: 100%;
  background-color: var(--vanilla);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 1;
 }
 
 .dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: var(--navy-blue)
 }

 #cover-photo {
  width: 100%;
 }

 #brand-icon {
  font-size: 2rem;
 }
}

/* Remove the typing animation when the screen is very small, and change the padding for the paragraph and heading elements. */

@media (max-width: 300px) {
 .typing {
  animation: none;
  white-space: wrap;
  border: none;
  font-size: 1.8rem;
 }
}

/* Decrease font-size of typing class when text no longer fits on one line. */

@media (min-width: 301px) and (max-width: 500px) {
 .typing {
  font-size: calc(100vw * 0.06);
 }
}

@media (min-width: 501px) and (max-width: 750px) {
 .typing {
  font-size: calc(100vw * 0.07);
 }
}

/* Change the size and wrapping of the flip-cards on smaller screens. */

@media (max-width: 767px) {
 #flip-cards {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4rem;
 }

 .flip-card {
  width: 90%;
 }

 section p, section h2, section h1 {
  padding: 0;
 }
}

/* Change the flip card layout and switch to a two-column layout on wider screens. */

@media (min-width: 1440px) {
 section {
  flex-basis: 50%;
 }

 section p {
  padding: 2rem;
 }

 #nav-buttons {
  display: none;
 }

 #flip-cards {
  padding-top: 2rem;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  gap: 0;
 }

 .flip-card {
  width: 30%;
  position: relative;
 }

 .flip-card:nth-of-type(1) {
  left: 5rem;
  transform: rotate(-10deg);
 }

 .flip-card:nth-of-type(3) {
  right: 5rem;
  top: 2rem;
  transform: rotate(10deg);
 }

 .flip-card:hover {
  animation: none;
  transform: scale(1.1);
  z-index: 9999;
 }

 footer {
  margin-top: 5rem;
 }
}

.collapse {
 position: fixed;
 top: 0;
 left: 0;
 width: 1;
 height: 50px;
 border-radius: 0;
}

.show {
 display: block;
}