/* Keyframe definitions */

@keyframes slide {
 from {
  opacity: 0%;
  transform: translate(-1em, 0);
 }

 to {
  opacity: 100%
 }
}

@keyframes bounce {
 50% {
  transform: translate(0, 0.2em);
 }
}

@keyframes hover-effect {
 0% {
  transform: scale(1);
 }
 100% {
  transform: scale(1.1);
 }
}

@keyframes typing {
 0% {
  width: 0%;
 }
 100% {
  width: 100%;
 }
}

@keyframes blinking-cursor {
 0%, 100% {
  border-right-color: transparent;
 }
 50% {
  border-right-color: black;
 }
}

/* General style rules for document */

:root {
 --blue: #003049;
 --linen: #F5EBE0;
 --yellow: rgb(252, 191, 73);
 --red: #d62828;
 --orange: #f77f00;
 --vanilla: #eae2b7;
 --serif: "EB Garamond", serif;
 --sans-serif: "Nunito", sans-serif;
}

html {
 scroll-behavior: smooth;
}

* {
 font-family: var(--sans-serif);
 color: var(--blue);
}

body {
 box-sizing: border-box;
 background-color: var(--linen);
 border: var(--yellow) solid 20px;
}

h1, h2, h3, h4, h5, h6 {
 font-family: var(--serif);
}

a {
 color: var(--orange);
 text-decoration: none;
}

button {
 background-color: var(--yellow);
 font-weight: bold;
 font-size: 1.2rem;
 border: none;
 padding: 10px;
 border-radius: 4px;
 max-width: 200px;
 margin: 0 auto;
}

a:hover, button:hover {
 animation: bounce 2s;
}

section {
 display: flex;
 flex-direction: column;
 justify-content: center;
 flex-wrap: wrap;
}

section h2 {
 text-align: center;
}

p {
 padding-bottom: 1rem;
 text-align: justify;
}

label {
 font-size: 18px;
 font-weight: bold;
}

nav {
 margin: 10% 10% 2% 10%;
 z-index: 99;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
}

main {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
 padding: 0 1em;
}

input, textarea {
 border: var(--blue) solid 1px;
 background-color: var(--vanilla);
 border-radius: 2px;
}

footer {
 margin: 0 auto;
}

footer p {
 text-align: center;
 font-family: var(--serif);
}

.h-l {
 font-size: 72px;
}

.h-m {
 font-size: 48px;
}

.h-s {
 font-size: 36px;
}

.p-l {
 font-size: 18px;
 line-height: 1.5em;
}

.p-m {
 font-size: 16px;
 line-height: 1.5em;
}

.flex-container {
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
}

/* Navigation bar style rules */

#dropdown-btn {
 display: none;
}

#brand-icon {
 font-size: 3rem;
 font-family: var(--serif);
}

.nav-link {
 padding: 0 1rem 0 1rem;
 font-family: var(--serif);
 font-size: 1.5rem;
}

/* Content section style rules */

.typing {
 animation: typing 2s steps(39, end), blinking-cursor .75s step-end infinite;
 white-space: nowrap;
 overflow: hidden;
 border-right: .1em solid var(--blue);
 max-width: -moz-fit-content;
 max-width: fit-content;
 letter-spacing: 4px;
}

#gallery {
 align-items: center;
}

#cover-photo {
 max-width: 500px;
}

.fade-in {
 opacity: 0;
}

/* Navigation buttons */

#nav-buttons {
 position: fixed;
 right: 20px;
 bottom: 20px;
 z-index: 9999;
}

#nav-buttons i {
 display: block;
 text-align: center;
 font-size: 2rem;
 color: var(--red);
}

/* About section style rules */

#cover-photo {
 border-radius: 10px;
}

#about {
 display: flex;
 justify-content: center;
 flex-direction: column;
}

#flip-cards {
 display: flex;
 gap: 10%;
 width: 100%;
 align-items: center;
 justify-content: center;
 padding-bottom: 2rem;
 flex-flow: row wrap;
}

.flip-card {
 background-color: transparent;
 width: 30%;
 height: 18em;
 max-width: 300px;
 perspective: 1000px;
 transition: transform 1s;
}

.flip-card h1 {
 margin-top: 1rem;
 margin-bottom: 0;
}

.flip-card:hover {
 animation: hover-effect 0.2s ease-in-out;
 transform: scale(1.1);
}

.flip-card-inner {
 position: relative;
 width: 100%;
 height: 100%;
 text-align: center;
 transition: transform 1.2s;
 transform-style: preserve-3d;
}

.flip {
 transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
 position: absolute;
 width: 100%;
 height: 100%;
 -webkit-backface-visibility: hidden;
 backface-visibility: hidden;
 border-radius: 5px;
 box-shadow: 4px 3px 15px var(--blue);
 gap: 1rem;
 background-color: var(--vanilla);
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 padding-bottom: 1rem;
}

.flip-card-front {
 align-items: center;
}

.flip-card-back {
 transform: rotateY(180deg);
}

.flip-card-back h1, .flip-card-back p {
 padding: 0 5% 0 5%;
 text-align: justify;
}

.flip-card-back button {
 padding-left: 20px;
 padding-right: 20px;
}

.logo {
 width: 50%;
}

/* Contact section style rules */

.form-item {
 display: flex;
 flex-direction: row;
}

.form-item label {
 flex-basis: 30%;
}

.form-item input, .form-item textarea {
 flex-basis: 70%;
}

/* Media queries */

/* Change navbar to a dropdown menu on phones and small tablets. Also, change cover-photo size to fill the width of its container. */

@media (max-width: 755px) {
 button {
  max-width: none;
 }

 #dropdown-btn {
  display: block;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 100%;
 }
 
 .dropdown {
  position: relative;
  display: inline-block;
 }
 
 .dropdown-content {
  display: none;
  position: fixed;
  left: 0;
  top: 50px;
  width: 100%;
  background-color: var(--yellow);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 1;
 }
 
 .dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: var(--blue)
 }

 #cover-photo {
  width: 100%;
 }
}

/* Remove the typing animation when the screen is very small. */

@media (max-width: 300px) {
 .typing {
  animation: none;
  white-space: wrap;
  border: none;
 }
}

/* Decrease font-size of typing class when text no longer fits on one line. */

@media (min-width: 301px) and (max-width: 500px) {
 .typing {
  font-size: 1.5rem;
 }
}

@media (min-width: 501px) and (max-width: 750px) {
 .typing {
  font-size: 2rem;
 }
}

/* Change the size and wrapping of the flip-cards on smaller screens. */

@media (max-width: 767px) {
 #flip-cards {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4rem;
 }

 .flip-card {
  width: 90%;
 }
}

@media (min-width: 768px) and (max-width: 991.98px) {
 #flip-cards {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4rem;
 }

 .flip-card {
  width: 90%;
 }
}

.collapse {
 position: fixed;
 top: 0;
 left: 0;
 width: 1;
 height: 50px;
 border-radius: 0;
}

.show {
 display: block;
}